form {
  margin: 20px;
  background-color: rgb(51, 51, 51);
  color:aliceblue;
  padding: 30px;
  width: fit-content;
  border-radius: 3px;
  display: flex;
  flex-direction: column;

}

.page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

input { 
  margin-top:20px;
}

button {
margin-top: 18px;
padding: 8px;
background-color: rgb(185, 230, 185);
}

h1 {
  margin: 0;
}